[submodule "prrte"]
	path = 3rd-party/prrte
	url = ../../uofl-capstone-open-mpi/prrte
	branch = capstone-devel
[submodule "openpmix"]
	path = 3rd-party/openpmix
	url = ../../openpmix/openpmix.git
	branch = master
[submodule "oac"]
	path = config/oac
	url = ../../open-mpi/oac
